body { line-height: 1.5;
	background-color: black;
	color: #4AF626;
	
}

blockquote:before {
  position: absolute;
  content: "\bb";
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -.5rem;
  margin-left: -1rem;
  color: #4AF626;
}
blockquote {
  color: #4AF626;
  padding-left: 1rem;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
	color: #4AF626;
}

.header {
  border-bottom: 1px solid #4AF626;
}
.header>.title {
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;
  font-weight: normal;
	color: #4AF626;
}
.header>.description {
  font-family: 'PT Serif', serif;
  color: #4AF626;
  font-style: italic;
}

.posts {}
.posts>.loading {}

.post { font-family: 'PT Serif', serif; }
.post>.title {
  font-size: 1.75rem;
  line-height: 1;
  color: #4AF626;
}

.post>.meta {
  font-size: .75rem;
  color: #4AF626;
}
.post>.meta>a { color: #4AF626; }

.post>.categories {
  font-family: 'PT Serif', serif;
  font-size: .75rem;
  color: #4AF626;
}
.post>.categories>span {
  font-weight: bold;
}

.post>.body {
  font-size: 1rem;
	color: #4AF626;
}
.post>.body a {
  color: #4AF626;
}

.comments {
  font-size: .9rem;
	color: #4AF626;
}
.comments>a {
  color: #4AF626;
}
.comments>.comment>.author {
  font-weight: bold;
	color: #4AF626;
}
.comments>.comment>.date {
  font-size: .75rem;
  color: #4AF626;
}
